.background-img {
  position: absolute;
  filter: brightness(80%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgb(59, 25, 90); */

  background: #664aca;
  /*  #775ed0 */
  background: radial-gradient(at center top, #3c2591, #2d085d);
  z-index: -10;
  display: flex;
}
.background-img img {
  position: absolute;
  filter: brightness(110%);
  right: 10%;
  top: 5%;
  width: 50%;
  height: 50%;
  object-fit: contain;
}
